.main {
    margin-bottom: 6rem;
    margin-top: 7em;
}

.pageCenter {
    margin-bottom: 6rem;
    margin-top: 7em;
    color: white;
}

.pageCenter > div {
    display: block;
    margin: 0 auto;
    width: max-content;
}

.home {
    margin-bottom: 0rem;
    margin-top: 17rem;
}

.home > article {
    display: block;
    margin: 0 auto;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.home span article {
    display: block;
    margin-top: 0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
