.card {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-align: left;
    color: #000000;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 4px lightgrey;
    margin: 10px;
    max-width: 700px;
    white-space: pre-line;
    border: none;
    border-radius: 4px;
}

.card.withpadding {
    padding: 10px;
}

@media only screen and (min-width: 900px)  {
    .card {
        max-width: 900px;
    }
}
