.pagecenter {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 6rem;
    margin-top: 5rem;
    margin-left: 0;
    margin-right: auto;
    padding: 1rem;
}

.card {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-align: left;
    color: #000000;
    background: #ffffff; /* Old browsers */
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .3);
    margin: 10px;
    max-width: 700px;
    white-space: pre-line;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    margin: 5px;
}

.card.withpadding {
    padding: 10px;
}

.pagecenter .card {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
}

.pagecenter {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 6rem;
    margin-top: 5rem;
    padding: 1rem;
}

.card-grid {
    display: block;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.card-grid > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.pagecenter > .card-grid .card {
    margin-bottom: 0;
}

.card .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0.8em;
}

.pagecenter .editButton {
    margin: 0 auto;
    margin-bottom: 20px;
}

.pagecenter .editButton img{
    height: 40px;
}

.indexpage > .pagecenter .card {
    max-width: 700px;
}

.grid {
    display: grid;
    grid-gap: 0;
}

.grid.withgap {
    grid-gap: 10px;
}

.editButton {
    text-align: right;
    max-width: 700px;
}

.editButton img:hover  {
    opacity: 0.5;
}

.mainAttraction {
    margin: 0 auto;
}

@keyframes myTransform {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (min-width: 900px)  {
    .card-grid {
        max-width: 900px;
    }

    .card {
        max-width: 900px;
    }

    .editButton {
        max-width: 900px;
    }

}

@media only screen and (max-width: 900px)  {
    .card .title {
        font-size: 20px;
        margin-bottom: 0.2em;
        
    }       

    .card {
         font-size: 15px;
    }
}