.page article{
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.main {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-align: left;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60% 30%;
    grid-gap: 0.5em;
    width: max-content;
}

.instagram {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: inherit;
    width: max-content;
}

.instagram > .description {
    display: block;
    color: white;
    width: 100%;
    max-width: 46em;
    height: 15em;
    text-align: center;
    padding: 2em;
    padding-top: 3em;
    grid-column-start: 1;
    grid-column-end: 4;
}

.instagram > .description > div {
    font-size: 1.5em;
}

.loading {
    display: grid;
    color: white;
}

.people6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: inherit;
    width: min-content;
}

.peopleOthers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column: 1/3;
    grid-gap: inherit;
    width: min-content;
}

.element {
    text-align: center;
    width: 15em;
    height: 15em;
    background: black;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .3);
}

@media only screen and (max-width: 100em)  {
    .main {
        display: block;
        width: 100%;
    }

    .main > div {   
        margin: 0 auto;
        margin-bottom: 0.5em;
    }

    .peopleOthers {
        grid-column: 1;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .people6 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.element.small {
    height: 100px;
}

.element img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.element .title {
    padding: 0.25em;
    color: white;
    position: relative;
    bottom: 4em;
    height: 3em;
    background: black;
}

.element .caption {
    padding: 0.25em;
    color: white;
    position: relative;
    font-size: 0;
    bottom: 6em;
    height: 6em;
}

.element .desc {
    padding: 0.25em;
    color: white;
    position: relative;
    font-size: 0;
    bottom: 12em;
    height: 12em;
}

.element:hover .caption {
    font-size: inherit;
}

.element:hover .desc {
    font-size: inherit;
}

.element:hover img {
    filter: opacity(0.5);
}

.instagram > .element {
    background: black;
}

.element.first {
    grid-column: 1/3;
}

@media only screen and (max-width: 50em)  {
    .peopleOthers {
        grid-column: 1;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
    .people6 {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
    .instagram {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .instagram > .description {
        grid-column-start: 1;
        grid-column-end: 3;
        color: white;
        max-width: unset;
        height: unset;
        text-align: center;
        padding: 0.5em;
        padding-top: 0.5em;
        width: auto;
    }

    .instagram > .description > div {
        font-size: 1em;
    }

    .element {
        width: 100%;
    }

    .element.small {
        width: 100%;
    }
}