.editEventMain {
    margin: 10px;
    display: grid;
    grid-gap: 0;
    grid-template-columns: max-content auto;
}

.editStages {
    background: #3A2929;
    height: 100%;
    color: #ffffff;
}

.editStages div {
    padding: 20px;
}

.editStages .stage:hover {
    background: #A02C2D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.editStages .selectedStage {
    background: #901C1D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form {
    padding: 10px;
}

.form input {
    display: block;
    padding: 10px;
    color: #AA5050;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    border: 0px;
    font-size: 15px;
    width: 100%;
}

.form textarea {
    margin: 10px;
    padding: 10px;
    min-height: 8em;
    width: 100%;
    color: #AA5050;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    border: 0px;
    font-size: 15px;
    width: 100%;
}

.form label {
    margin: 10px;
    min-height: 5em;
    width: 100%;
}

.form .helper {
    margin: 10px;
    font-size: 13px;
    font-style: italic;
    color: #757575;
}

.formGroup {
    padding: 10px;
}

.form .mySubmit {
    background: #2F7F3C;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    font-weight: bold;
    color: #FFFFFF;
    border: 0px;
    align-content: center;
    margin: 0 auto;
    width: 50%;
}

.event {
    padding: 10px;
    display: grid;
    grid-gap: 0;
    grid-template-columns: auto max-content;
}

.logo {
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.EditTitle {
    color: #FFFFFF;
    font-family: 'Roboro', sans-serif;
}

.mainEditor {
    height: 100%;
    margin-top: 7rem;
}

.EditEventsMain > div {
    margin: 0 auto;
    margin-top: 20px;
}

.addEvent {
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.addEvent div{
    margin: 0 auto;
    color: black;
}

.addEvent a img{
    float: right;
}