.multistep-editor {
    grid-template-columns: max-content auto;
    height: 35rem;
}


.edit-steps {
    background: #3A2929;
    height: 100%;
    color: #ffffff;
}

.edit-steps > div {
    padding: 20px;
}

.edit-steps > .stage:hover {
    background: #A02C2D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.edit-steps > .selectedStage {
    background: #901C1D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form {
    padding: 10px;
    background: #E7E7E7;
}

.formGroup {
    padding: 10px;
}

.form .inputField {
    padding: 10px;
    color: #AA5050;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    border: 0px;
    font-size: 15px;
    width: 100%;
}

.inputField option:checked {
    color: #FFFFFF;
    background: #901C1D;
}

select[multiple] option:checked {
    background: #901C1D;
    background-color: red;
    font-size: 20px;
}

.inputField option:hover {
    color: #FFFFFF;
    background: #901C1D;
}

.form textarea {
    min-height: 8em;
    resize: none;
}

.form label {
    margin-left: 10px;
}

.form .helper {
    margin: 10px;
    font-size: 13px;
    font-style: italic;
    color: #757575;
}

.form .mySubmit {
    background: #2F7F3C;
    color: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border: 0px;
    border-radius: 2px;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    display: block;
}

.editable-event {
    padding: 10px;
    display: grid;
    grid-gap: 0;
    grid-template-columns: auto max-content;
}

.addEvent {
    grid-template-columns: 1fr 1fr 1fr;
}

.addEvent > div{
    margin: 0 auto;
    color: black;
}

.logo {
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
}