.button {
    height: 2em;
    margin: 1em;
    outline: none;
    width: max-content;
    background: 0;
}

.button:hover {
    cursor: pointer;
    opacity: 0.5;
}
 
.button img {
    height: 2em;
}