.center {
    display: block;
    margin: 0 auto;
    max-width: 70em;
}

.list {
    text-align: left;
    padding-right: 2em;
}

.main {
    display: grid;
    grid-template-columns: max-content 1fr;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 6rem;
    padding: 1rem;
    padding-top: 6rem;
}

.selectable {
    padding: 10px;
}

.selectable:hover {
    background: rgba(0, 0, 0, 0.5);
}

.selected {
    width: 100%;
}

.selectedline {
    padding: 10px;
    background: rgba(255, 200, 0, 0.5);
}

.selectedline:hover {
    background: rgba(255, 200, 0, 0.5);
}

.addElement {
    height: 1em;
    padding-right: 1em;
}

.addElement:hover {
    filter: opacity(0.5);
}