img {
    margin-bottom: 0;
}

.eventdetails-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.eventdetail-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    grid-template-rows: auto 1fr;
}

.eventdetail-poster {
    width: 167px;
}

.eventdetail-title {
    font-weight: bold;
    font-size: 25px;
}

.eventdetail-date {
    font-weight: normal;
    font-size: 20px;
}

.eventdetail-description {
    padding: 4px 0;
    font-size: 15px;
    font-weight: normal;
}

.eventdetail-title-secondery {
    font-weight: bold;
}

.eventdetail-program {
    padding: 0px;
    padding-left: 25px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.eventdetail-paragraph {
    padding: 4px;
}

.eventdetail-dance-figure {
    text-align: right;
}
.eventdetail-dance-figure img{
    width: 60px;
    margin-bottom: inherit;
}
.eventdetail-facebook-link {
    text-align: right;
}
.eventdetail-facebook-logo {
    width: 30px;
}

.eventdetail-media div{
    padding: 10px;
}

@media only screen and (min-width: 700px)  {
    
    .eventdetail-dance-figure img{
        width: 90px;
    }
}

@media only screen and (min-width: 900px)  {
    .eventdetail-poster:not(.vertical) {
        width: 250px;
    }
}
