.main-footer-content {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    align-content: center;
    align-items: center;
    text-align: left;   
    font-size: 14px;
}

.footer-left {
    text-align: left;
}

.footer-center {
    text-align: center;

}

.footer-right {
    text-align: right;

}

.footer-image {
    height: 25px;
    margin: 10px;
    color: #ffffff;
}


.main-footer {
  display: block;
  height: 2rem;
  background-color: rgba(10, 10, 10, .2);
  background-image: url('background.jpg');
  background-position: bottom;
  background-size: auto 100vh;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  opacity: 0.9;
  color: white;
}

.main-footer div {
  filter: none;
}

.dotDotDot {
    text-align: center;
    font-size: 20px;
    padding: 0.2rem;
}
.main-footer:hover {
    height: auto;
}

.main-footer:hover .dotDotDot {
    font-size: 0;
}

@media only screen and (max-width: 820px)  {

   .main-footer-content {
       grid-template-columns: auto;
   }

   .main-footer:hover {
       height: auto;
   }

   .footer-left {
       text-align: center;
   }

   .footer-right {
       text-align: center;
   }

   .footer-right a {
       margin-right: 50px;
       margin-left: 50px;
   }
}
