.main {
    max-width: 1000px;
}

.steps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.steps > div {
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 0px rgba(0, 0, 0, .5);
    text-align: center;
    font-weight: bold;
}

.div {
    height: 1em;
}

.steps > div:hover {
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.steps > .selected {
    background: rgba(161, 161, 161, 0.5);
    cursor: pointer;
}

.steps > .selected:hover {
    background: rgba(161, 161, 161, 0.5);
}

.form {
    width: 100%;
    max-width: 40em;
}

.formgroup {
    padding: 1em;
    position: relative;
    padding-left: 2em;
}

.formgroup > label {
    padding: 0.5em;
}

.input {
    width: 100%;
    padding: 0.5em;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .3);
}

.input[type="datetime-local"] {
    display: block;
    width: max-content;
}

textarea.input {
    height: 9em;
    resize: none;
}

.helper {
    filter: opacity(0.5);
    padding: 0.5em;
}

.submit {
    margin: 0.5em;
    font-weight: bold;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background: green;
    color: white;
    border-width: 0px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .3);
}

.plus {
    position: absolute;
    top: 2em;
    right: -2em;
    height: 2em;
}

.plus:hover {
    filter: opacity(0.5);
}

.picture {
    margin: 1rem;
    width: max-content;
    padding: 0.5rem;
    background: #FFFFFF30;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .3);
}

.picture img {
    margin: 0;
}

.delete {
    background: 0;
    border: 0;
}

.delete:hover {
    opacity: 0.5;
    cursor: pointer;
}

.delete:focus {
    outline: 0;
}

.delete img {
    height: 2rem;
    margin: 0;
}