.form {
    padding: 10px;
}

.form div {
    padding: 10px;
}

.form input {
    margin: 10px;
    padding: 10px;
}

.form textarea {
    margin: 10px;
    padding: 10px;
    min-height: 5em;
    width: 100%;
}

.form label {
    margin: 10px;
    padding: 10px;
    min-height: 5em;
    width: 100%;
}