
.main-header {
  z-index: 2;
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: rgba(10, 10, 10, .2);
  background-image: url('boritokep2.png');
  background-position: top;
  background-size: auto 100vh;
  color: white;
  position: fixed;
  opacity: 0.9;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: auto max-content;
  grid-gap: 10px;
  align-items: flex-end;
  height: 5rem;
  overflow: hidden;
}

.main-header.max { 
  height: 15rem;
  grid-template-columns: auto
}

.main-header .link {
  color: white;
  font-family: 'Roboto', sans-serif
}

.mainLogo {
  height: 4rem;
}

.main-header.max .mainLogo {
  height: 10rem;
}

.main-header.max .sideLogo {
  height: 7.5rem;
}
.main-header.max .sideLogo2 {
  height: 7.5rem;
  margin-bottom: 40px;
}

.main-header.max > div {
  width: max-content;
  margin: 0 auto;
  margin-bottom: 20px;
}

.main-header > div > div a {
  text-decoration: none;
}

.main-header > div.links > div {
  display: inline-block;
  margin-right: 1rem ;
  margin-left: 1rem ;
  margin-bottom: 20px;
}

.main-header > div.links > div:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 5px;
  margin-bottom: 13px;
}

.main-header > div.links > div.active {

  border-bottom: 2px solid #ffffff;
  padding-bottom: 5px;
  margin-bottom: 13px;
}

.main-header > div.links > div.hide {
  display: none;
}

.logo-div {
  display: grid;
  grid-template-columns: auto max-content;
}

.logo-div > div.more > img {
  height: 0rem;
}

@media only screen and (max-width: 950px)  {
  .main-header {
    grid-template-columns: auto;
  }

  .main-header.max {
    overflow: visible;
  }

  .logo-div > div.more > img {
    height: 2rem;
    margin: 0.5rem;
  }

  .main-header.max .mainLogo {
    height: 6em;
  }

  .main-header.max .sideLogo {
    height: 0px;
  }

  .main-header.max .sideLogo2 {
    height: 0px;
  }
  .main-header.min > div.links {
    display: grid;
    grid-template-columns: auto;
  }

  .main-header.max > div.links {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
  }

  .main-header.open {
    height: 20rem;
  }
}
