
.main-header {
  z-index: 2;
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: rgba(10, 10, 10, .2);
  background-image: url('boritokep.jpg');
  background-position: top;
  background-size: auto 100vh;
  color: white;
  position: fixed;
  opacity: 0.9;
  top: 0;
  width: 100%;
}