.main {
    display: block;
    margin: 0 auto;
    padding: 2rem;
}

.title {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.formgroup {
    padding: 0.5rem;
}

.formgroup label {
    display: grid;
}

.submit {
    background: green;
    border: 0;
    padding: 0.5rem;
    color: white;
    display: block;
    margin: 0 auto;
    width: max-content;
    cursor: pointer;
}

.submit:hover {
    background: darkgreen;
}