.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem;
}

.main > div {
    padding: 1rem;
}

.general, .attention {
    background: #00000030;
}

.main > .header {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 auto;
    width: 100%;
}

.tips {
    grid-column-start: 1;
    grid-column-end: 3;
    max-width: 1200px;
    margin: 0 auto;
}

.general, .attention {
    padding: 1rem;
    padding-top: 0;
}

.title {
    font-size: 2rem;
}

.general > div > div, .attention > div >  div {
    padding: 1rem;
    text-align: left;
}

.drinksAndPlace  div {
    padding: 0.5rem;
}

@media only screen and (max-width: 1400px)  {
    .main {
        grid-template-columns: 1fr;
    }

    .main > .header {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .tips {
        grid-column-start: 1;
        grid-column-end: 2;
        max-width: unset;
        width: 100%;
    }

    .attention {
        grid-row: 5;
        background: #00000030;
    }   

    .main > div {
        width: 100%;
    }
}