.tipsAndTricks div{
    padding: 0;
    padding-top: 1em;
    font-size: 21px;
}

.tipsAndTricks .contnet {
    padding: 0;
    padding-top: 0;
    text-align: justify;
    font-size: 17px;
}

.tipsAndTricks li {
    text-align: justify;
    font-size: 17px;
}

.card h3 {
   padding-left: 2em; 
}

.dance {
    display: grid;
    grid-template-columns: max-content auto;
    grid-gap: 1em;
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: 40px;
    color: #ffffff;
    max-height: 4em;
}

.dance img {
    height: 3em;
}

.dance.green { background: #219653;}
.dance.green:hover { background: #51ca86;}
.descritpion.green {  background: #51ca86;}


.dance.red { background: #B64848;}
.descritpion.red { background: rgb(224, 147, 147);}
.dance.red:hover {background: rgb(224, 147, 147);}

.dance.purple { background: #896997;}
.descritpion.purple {background: #e2bcf3;}
.dance.purple:hover { background: #e2bcf3;}

.dance.yellow {background: #B19000;}
.descritpion.yellow {background: rgb(231, 215, 141);}
.dance.yellow:hover {background: rgb(231, 215, 141);}

.descritpion {
    text-align: justify;
    width: 100%;
    max-height: 30em;
    overflow:hidden;
}