.poster {
    height: 400px;
    width: 400px;
    overflow: hidden;
}

.poster img {
    margin: 1rem;
    height: 400px;
    width: 400px;
    object-fit: cover;
    max-width: initial;
    margin-bottom: inherit;
    object-position: top;
}

.small {
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.small img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    max-width: initial;
    margin-bottom: inherit;
    object-position: top;
}