.center {
    display: block;
    margin: 0 auto;
    max-width: 70em;
    padding: 1em;
}

.title {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding: 1em;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

.spot {
    padding: 0.5em;
    align-content: center;
    text-align: center;
}

.link {
    width: 12rem;
    height: 12rem;
    overflow: hidden;
    margin: 0 auto;
}

.link img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-width: initial;
    object-position: top;
}

.link img:hover {
    opacity: 0.5;
}

@media only screen and (max-width: 70em)  {
    .center {
        max-width: 50em;
    }
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media only screen and (max-width: 50em)  {
    .center {
        max-width: unset;
    }
    .grid {
        grid-template-columns: 1fr 1fr;
    }
    
    .link {
        width: 100%;
    }
}