.memberMain {
    margin: 0 auto;
    max-width: 700px;
}

.memberMain > div.simple{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    margin-bottom: 20px;
}

.memberMain > div.more{
    padding-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
}

.memberMain > div > .card{
    width: 100%;
    margin-bottom: 0;
}

.olderMembers {
    text-align: center;
    font-size: 30px;
}

@media only screen and (min-width: 900px)  {
    .memberMain {
        max-width: 60em;
    }
}

.roundUp {
    display: grid;
    grid-template-rows: auto max-content;
    height: 15em;
   filter: saturate(0.5);
}

.profileName {
    font-size: 25px;
}

.profileDesc {
    background: #000000B0;
    padding: 1em;
    color: white;
    opacity: 0;
}

.roundUp.small {
    height: 8em;
}

.roundUp:hover {
   filter: saturate(1);
}

.roundUp .profileDesc {
    opacity: 1;
}

.roundUp .desc {
    font-size: 0;
}

.roundUp:hover .desc {
    font-size: 15px;
}
